#lootSplitCalculator {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#lootSplitCalculator #calculateButton {
    display: flex;
    text-align: right;
}

#lootSplitCalculator .loot-split-row {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

#lootSplitCalculator #number-of-players-wrapper {
    padding-bottom: 10px;
}

#lootSplitCalculator #each-players-split-wrapper {
    border-top: 1px solid gold;
    padding-top: 10px;
}

#lootSplitCalculator .loot-split-row input {
    width: 65%;
    height: 3em;
}

#lootSplitCalculator button {
    background: gold;
    border: gold;
    border-radius: 3px;
    font-weight: bold;
}

#lootSplitCalculator button:hover {
    background-color: #FFC400FF;
    color: black;
}